.icon{
    font-size: 2rem;
}

.greenIcon{
    color: green;
}

.content{
    padding-left: 1.25rem;
}

.actions{
    margin-top: 1rem;
      display: flex;
      justify-content: space-around;
      padding-bottom: 0.5rem;
}

button{
    margin:0;
}

link{
    margin:0;
}